@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundWallpaper {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url('CodingWallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}