@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundWallpaper {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url('/CodingWallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.backgroundWallpaper_dim {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url('/CodingWallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.gifLogoAnimation {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url('/codingAnimation1.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hideScrollBar::-webkit-scrollbar {
    display: none;
}

.hideScrollBar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}